body{
    background-color: skyblue;
}

.footer{
    display: block;
    position:fixed;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.75);
    margin-bottom: 0px;
    width: 100%;
    height:5% ;
    bottom: 0px;
    color:white;
    font-size:30px;
}

.linker{
    position: fixed;
    display: block;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    height: 6%;
    width: 100px;
}

#fblinker{
    left: 130px;
}
#fbimg{
    width: 100px;
    padding: 0px;
    margin: 0px;
}
#iglinker{
    left: 250px;
    background: white;
    margin-bottom: 0px;
    height: 37px
}
#igimg{
    margin-top: 4px;
    width: 100px;
}

#fundlinker{
    left: 370px;
    height: 37px
}

#fundimg{
    width: 100px;
    margin-top: 4px;
}

#weeblylinker{
    left: 495px;
    height: 37px;
    background: white;
}

#weeblyimg{
    width: 100px;
}