
.desc1{
    font-size: 22px;
    color: black;
}

h1 {font-size:60px;}
.header1 {background-image: url("/Images/PossibleBannerPic.jpg");
         background-repeat: repeat-y;
         width: 100%;
         height: 80px;}