
.desc1{
    font-size: 22px;
    color: black;
}

h1 {font-size:60px;}
.countryname {font-size:150%; 
              margin-top: 8%;
}
.countrydesc {font-size:75%;
              margin-right: 50px;
}
.countryimag {width: 81%;
              padding-left: 37px;
}

